In [9]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np

In [10]:
neo=pd.read_csv(r"C:\Users\Mario\Documents\Labs\Module2\Project_Week4\neo.csv")
neo

,id,name,est_diameter_min,est_diameter_max,relative_velocity,miss_distance,orbiting_body,sentry_object,absolute_magnitude,hazardous
0,2162635,162635 (2000 SS164),1.198271,2.679415,13569.249224,5.483974e+07,Earth,False,16.73,False
1,2277475,277475 (2005 WK4),0.265800,0.594347,73588.726663,6.143813e+07,Earth,False,20.00,True
2,2512244,512244 (2015 YE18),0.722030,1.614507,114258.692129,4.979872e+07,Earth,False,17.83,False
3,3596030,(2012 BV13),0.096506,0.215794,24764.303138,2.543497e+07,Earth,False,22.20,False
4,3667127,(2014 GE35),0.255009,0.570217,42737.733765,4.627557e+07,Earth,False,20.09,True
...,...,...,...,...,...,...,...,...,...,...
90831,3763337,(2016 VX1),0.026580,0.059435,52078.886692,1.230039e+07,Earth,False,25.00,False
90832,3837603,(2019 AD3),0.016771,0.037501,46114.605073,5.432121e+07,Earth,False,26.00,False
90833,54017201,(2020 JP3),0.031956,0.071456,7566.807732,2.840077e+07,Earth,False,24.60,False
90834,54115824,(2021 CN5),0.007321,0.016370,69199.154484,6.869206e+07,Earth,False,27.80,False
90835,54205447,(2021 TW7),0.039862,0.089133,27024.455553,5.977213e+07,Earth,False,24.12,False

In [ ]:
neo_vel_mean=neo.groupby(['name']).agg({'relative_velocity' :'mean'})
neo_miss_mean=neo.groupby(['name']).agg({'miss_distance' :'mean'})
neo_vel_mean

In [11]:
velocity_avg = neo.groupby('name', as_index=False).agg({'relative_velocity':'mean'})
velocity_avg.columns = ['name', 'velocity_avg']
neo = pd.merge(neo, velocity_avg, on='name')
neo=neo.drop(columns=['relative_velocity'])
neo
#data.drop_duplicates(subset=['name'])

,id,name,est_diameter_min,est_diameter_max,miss_distance,orbiting_body,sentry_object,absolute_magnitude,hazardous,velocity_avg
0,2162635,162635 (2000 SS164),1.198271,2.679415,5.483974e+07,Earth,False,16.73,False,13569.249224
1,2277475,277475 (2005 WK4),0.265800,0.594347,6.143813e+07,Earth,False,20.00,True,37187.969051
2,2277475,277475 (2005 WK4),0.265800,0.594347,4.524364e+07,Earth,False,20.00,True,37187.969051
3,2277475,277475 (2005 WK4),0.265800,0.594347,2.916569e+07,Earth,False,20.00,True,37187.969051
4,2277475,277475 (2005 WK4),0.265800,0.594347,1.413990e+07,Earth,False,20.00,True,37187.969051
...,...,...,...,...,...,...,...,...,...,...
90831,3779523,(2017 OL68),0.176423,0.394494,4.064435e+07,Earth,False,20.89,False,4649.668900
90832,54272756,(2022 GA4),0.232571,0.520044,3.376447e+07,Earth,False,20.29,False,34153.422552
90833,54225015,(2021 WR3),0.310853,0.695088,6.254685e+07,Earth,False,19.66,False,103342.744852
90834,3735178,(2015 VK142),0.350393,0.783502,6.344693e+07,Earth,False,19.40,False,65388.349843
90835,3092229,(1999 LV7),0.347180,0.776319,2.754936e+07,Earth,False,19.42,False,60242.316201

In [12]:
miss_distance_avg = neo.groupby('name', as_index=False).agg({'miss_distance':'mean'})
miss_distance_avg.columns = ['name', 'miss_distance_avg']
neo = pd.merge(neo, miss_distance_avg, on='name')
neo= neo.drop(columns=['miss_distance'])
neo
neo.drop_duplicates(subset=['name'])

,id,name,est_diameter_min,est_diameter_max,orbiting_body,sentry_object,absolute_magnitude,hazardous,velocity_avg,miss_distance_avg
0,2162635,162635 (2000 SS164),1.198271,2.679415,Earth,False,16.73,False,13569.249224,5.483974e+07
1,2277475,277475 (2005 WK4),0.265800,0.594347,Earth,False,20.00,True,37187.969051,3.504758e+07
25,2512244,512244 (2015 YE18),0.722030,1.614507,Earth,False,17.83,False,95258.903671,4.794386e+07
32,3596030,(2012 BV13),0.096506,0.215794,Earth,False,22.20,False,43409.550520,4.313247e+07
39,3667127,(2014 GE35),0.255009,0.570217,Earth,False,20.09,True,42580.419393,4.659339e+07
...,...,...,...,...,...,...,...,...,...,...
90831,3779523,(2017 OL68),0.176423,0.394494,Earth,False,20.89,False,4649.668900,4.064435e+07
90832,54272756,(2022 GA4),0.232571,0.520044,Earth,False,20.29,False,34153.422552,3.376447e+07
90833,54225015,(2021 WR3),0.310853,0.695088,Earth,False,19.66,False,103342.744852,6.254685e+07
90834,3735178,(2015 VK142),0.350393,0.783502,Earth,False,19.40,False,65388.349843,6.344693e+07
90835,3092229,(1999 LV7),0.347180,0.776319,Earth,False,19.42,False,60242.316201,2.754936e+07

In [5]:
neo.round(4)

,id,name,est_diameter_min,est_diameter_max,orbiting_body,sentry_object,absolute_magnitude,hazardous,velocity_avg,miss_distance_avg
0,2162635,162635 (2000 SS164),1.1983,2.6794,Earth,False,16.73,False,13569.2492,5.483974e+07
1,2277475,277475 (2005 WK4),0.2658,0.5943,Earth,False,20.00,True,37187.9691,3.504758e+07
2,2277475,277475 (2005 WK4),0.2658,0.5943,Earth,False,20.00,True,37187.9691,3.504758e+07
3,2277475,277475 (2005 WK4),0.2658,0.5943,Earth,False,20.00,True,37187.9691,3.504758e+07
4,2277475,277475 (2005 WK4),0.2658,0.5943,Earth,False,20.00,True,37187.9691,3.504758e+07
...,...,...,...,...,...,...,...,...,...,...
90831,3779523,(2017 OL68),0.1764,0.3945,Earth,False,20.89,False,4649.6689,4.064435e+07
90832,54272756,(2022 GA4),0.2326,0.5200,Earth,False,20.29,False,34153.4226,3.376447e+07
90833,54225015,(2021 WR3),0.3109,0.6951,Earth,False,19.66,False,103342.7449,6.254685e+07
90834,3735178,(2015 VK142),0.3504,0.7835,Earth,False,19.40,False,65388.3498,6.344693e+07
90835,3092229,(1999 LV7),0.3472,0.7763,Earth,False,19.42,False,60242.3162,2.754936e+07