In [1]:
import pandas as pd
import numpy as np

In [2]:
data= pd.read_excel(r"C:\Users\Mario\Documents\IronMario\Module1\Week3\Project_Week3\2 -Entrepreneurial competency in university students.xlsx")

In [3]:
data.describe()

,Age,Perseverance,DesireToTakeInitiative,Competitiveness,SelfReliance,StrongNeedToAchieve,SelfConfidence,GoodPhysicalHealth,Target-ent_competency
count,205.000000,202.000000,208.000000,210.000000,197.000000,211.000000,212.000000,212.000000,219.000000
mean,19.756098,3.346535,3.591346,3.571429,3.705584,3.914692,3.566038,3.566038,0.415525
std,1.324366,1.001845,1.163587,1.118416,1.066474,1.033866,1.122952,1.105941,0.493941
min,17.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
25%,19.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,0.000000
50%,20.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,0.000000
75%,20.000000,4.000000,5.000000,4.000000,5.000000,5.000000,4.000000,4.000000,1.000000
max,26.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1.000000

In [4]:
data.rename(columns={'Target IndividualProject ':'TargetIndividualProject'}, inplace=True)

In [5]:
data.rename(columns={'Target-ent_competency':'TargetEntCompetency'}, inplace=True)

In [6]:
to_lower_letter=['TargetIndividualProject','Gender','City','Influenced','MentalDisorder','ReasonsForLack','ReasonsForLack']
for i in to_lower_letter:
       data[i]=data[i].str.lower()

In [7]:
data.loc[data['KeyTraits']== "Rrresilience", 'KeyTraits']= "resilience"
data

,EducationSector,TargetIndividualProject,Age,Gender,City,Influenced,Perseverance,DesireToTakeInitiative,Competitiveness,SelfReliance,StrongNeedToAchieve,SelfConfidence,GoodPhysicalHealth,MentalDisorder,KeyTraits,ReasonsForLack,TargetEntCompetency
0,Engineering Sciences,no,19.0,male,yes,no,2.0,2.0,3.0,3.0,2.0,2.0,3.0,yes,Passion,NaN,1
1,Engineering Sciences,yes,22.0,male,no,yes,3.0,3.0,3.0,4.0,4.0,3.0,4.0,yes,Vision,just not interested! (want to work in the corp...,0
2,Engineering Sciences,no,18.0,male,yes,no,3.0,4.0,3.0,3.0,3.0,4.0,4.0,no,Passion,not willing to start a venture in india and wa...,0
3,Engineering Sciences,yes,20.0,male,yes,yes,3.0,3.0,3.0,3.0,4.0,3.0,3.0,no,resilience,not able to take a financial risk,0
4,Engineering Sciences,yes,19.0,male,yes,yes,2.0,3.0,3.0,3.0,4.0,3.0,2.0,yes,Vision,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,Engineering Sciences,yes,19.0,male,yes,yes,NaN,5.0,4.0,3.0,4.0,4.0,5.0,yes,Positivity,NaN,1
215,Engineering Sciences,yes,19.0,male,yes,no,2.0,2.0,2.0,2.0,2.0,2.0,2.0,no,Work Ethic,just not interested! (want to work in the corp...,0
216,Engineering Sciences,yes,22.0,female,yes,yes,3.0,4.0,4.0,3.0,4.0,4.0,3.0,no,Vision,NaN,1
217,Engineering Sciences,no,19.0,male,yes,no,1.0,2.0,2.0,3.0,3.0,2.0,2.0,no,Passion,lack of knowledge,0
218,Engineering Sciences,yes,18.0,male,unknown,yes,3.0,5.0,3.0,5.0,5.0,5.0,2.0,no,Passion,NaN,1

In [8]:
col_fill = ['Perseverance', 'DesireToTakeInitiative',
        'Competitiveness','SelfReliance','StrongNeedToAchieve','SelfConfidence','GoodPhysicalHealth']
for i in col_fill:
    data.loc[data[i].isna()==True,i]=3
data

,EducationSector,TargetIndividualProject,Age,Gender,City,Influenced,Perseverance,DesireToTakeInitiative,Competitiveness,SelfReliance,StrongNeedToAchieve,SelfConfidence,GoodPhysicalHealth,MentalDisorder,KeyTraits,ReasonsForLack,TargetEntCompetency
0,Engineering Sciences,no,19.0,male,yes,no,2.0,2.0,3.0,3.0,2.0,2.0,3.0,yes,Passion,NaN,1
1,Engineering Sciences,yes,22.0,male,no,yes,3.0,3.0,3.0,4.0,4.0,3.0,4.0,yes,Vision,just not interested! (want to work in the corp...,0
2,Engineering Sciences,no,18.0,male,yes,no,3.0,4.0,3.0,3.0,3.0,4.0,4.0,no,Passion,not willing to start a venture in india and wa...,0
3,Engineering Sciences,yes,20.0,male,yes,yes,3.0,3.0,3.0,3.0,4.0,3.0,3.0,no,resilience,not able to take a financial risk,0
4,Engineering Sciences,yes,19.0,male,yes,yes,2.0,3.0,3.0,3.0,4.0,3.0,2.0,yes,Vision,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,Engineering Sciences,yes,19.0,male,yes,yes,3.0,5.0,4.0,3.0,4.0,4.0,5.0,yes,Positivity,NaN,1
215,Engineering Sciences,yes,19.0,male,yes,no,2.0,2.0,2.0,2.0,2.0,2.0,2.0,no,Work Ethic,just not interested! (want to work in the corp...,0
216,Engineering Sciences,yes,22.0,female,yes,yes,3.0,4.0,4.0,3.0,4.0,4.0,3.0,no,Vision,NaN,1
217,Engineering Sciences,no,19.0,male,yes,no,1.0,2.0,2.0,3.0,3.0,2.0,2.0,no,Passion,lack of knowledge,0
218,Engineering Sciences,yes,18.0,male,unknown,yes,3.0,5.0,3.0,5.0,5.0,5.0,2.0,no,Passion,NaN,1

In [9]:
data.loc[data['MentalDisorder'].isna()==True,'MentalDisorder']='undisclosed'

In [10]:
data.loc[data['Age'].isna()==True,'Age']=round(data['Age'].mean())
data['Age'].mean()

19.771689497716896

In [11]:
cols_to_int = ['Age', 'Perseverance', 'DesireToTakeInitiative','Competitiveness','SelfReliance','StrongNeedToAchieve','SelfConfidence','GoodPhysicalHealth']
data[cols_to_int] = data[cols_to_int].astype(int)
data

,EducationSector,TargetIndividualProject,Age,Gender,City,Influenced,Perseverance,DesireToTakeInitiative,Competitiveness,SelfReliance,StrongNeedToAchieve,SelfConfidence,GoodPhysicalHealth,MentalDisorder,KeyTraits,ReasonsForLack,TargetEntCompetency
0,Engineering Sciences,no,19,male,yes,no,2,2,3,3,2,2,3,yes,Passion,NaN,1
1,Engineering Sciences,yes,22,male,no,yes,3,3,3,4,4,3,4,yes,Vision,just not interested! (want to work in the corp...,0
2,Engineering Sciences,no,18,male,yes,no,3,4,3,3,3,4,4,no,Passion,not willing to start a venture in india and wa...,0
3,Engineering Sciences,yes,20,male,yes,yes,3,3,3,3,4,3,3,no,resilience,not able to take a financial risk,0
4,Engineering Sciences,yes,19,male,yes,yes,2,3,3,3,4,3,2,yes,Vision,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,Engineering Sciences,yes,19,male,yes,yes,3,5,4,3,4,4,5,yes,Positivity,NaN,1
215,Engineering Sciences,yes,19,male,yes,no,2,2,2,2,2,2,2,no,Work Ethic,just not interested! (want to work in the corp...,0
216,Engineering Sciences,yes,22,female,yes,yes,3,4,4,3,4,4,3,no,Vision,NaN,1
217,Engineering Sciences,no,19,male,yes,no,1,2,2,3,3,2,2,no,Passion,lack of knowledge,0
218,Engineering Sciences,yes,18,male,unknown,yes,3,5,3,5,5,5,2,no,Passion,NaN,1

In [12]:
data.drop(columns="ReasonsForLack", inplace=True)
data

,EducationSector,TargetIndividualProject,Age,Gender,City,Influenced,Perseverance,DesireToTakeInitiative,Competitiveness,SelfReliance,StrongNeedToAchieve,SelfConfidence,GoodPhysicalHealth,MentalDisorder,KeyTraits,TargetEntCompetency
0,Engineering Sciences,no,19,male,yes,no,2,2,3,3,2,2,3,yes,Passion,1
1,Engineering Sciences,yes,22,male,no,yes,3,3,3,4,4,3,4,yes,Vision,0
2,Engineering Sciences,no,18,male,yes,no,3,4,3,3,3,4,4,no,Passion,0
3,Engineering Sciences,yes,20,male,yes,yes,3,3,3,3,4,3,3,no,resilience,0
4,Engineering Sciences,yes,19,male,yes,yes,2,3,3,3,4,3,2,yes,Vision,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,Engineering Sciences,yes,19,male,yes,yes,3,5,4,3,4,4,5,yes,Positivity,1
215,Engineering Sciences,yes,19,male,yes,no,2,2,2,2,2,2,2,no,Work Ethic,0
216,Engineering Sciences,yes,22,female,yes,yes,3,4,4,3,4,4,3,no,Vision,1
217,Engineering Sciences,no,19,male,yes,no,1,2,2,3,3,2,2,no,Passion,0
218,Engineering Sciences,yes,18,male,unknown,yes,3,5,3,5,5,5,2,no,Passion,1

In [17]:
data.to_csv(r'C:\Users\Mario\Documents\IronMario\Module1\Week3\Project_Week3\data_cleaned.csv')

In [14]:
data.isnull().sum()

EducationSector            0
TargetIndividualProject    0
Age                        0
Gender                     0
City                       0
Influenced                 0
Perseverance               0
DesireToTakeInitiative     0
Competitiveness            0
SelfReliance               0
StrongNeedToAchieve        0
SelfConfidence             0
GoodPhysicalHealth         0
MentalDisorder             0
KeyTraits                  0
TargetEntCompetency        0
dtype: int64

In [15]:
pd.get_dummies(data["Gender"])

     female  male
0         0     1
1         0     1
2         0     1
3         0     1
4         0     1
..      ...   ...
214       0     1
215       0     1
216       1     0
217       0     1
218       0     1

[219 rows x 2 columns]

In [16]:
pd.get_dummies(data["EducationSector"])

,"Art, Music or Design","Economic Sciences, Business Studies, Commerce and Law",Engineering Sciences,Humanities and Social Sciences,Language and Cultural Studies,Mathematics or Natural Sciences,"Medicine, Health Sciences",Others,"Teaching Degree (e.g., B.Ed)"
0,0,0,1,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
214,0,0,1,0,0,0,0,0,0
215,0,0,1,0,0,0,0,0,0
216,0,0,1,0,0,0,0,0,0
217,0,0,1,0,0,0,0,0,0
218,0,0,1,0,0,0,0,0,0