In [1]:
import numpy as np
import pandas as pd
df=pd.read_excel(r"C:\Users\Mario\Documents\Labs\Module2\Project_Week7\Sample data set employability__Tableau_temp.xlsx")
df.head(3)

,at risk,Name,Career Week end date,Days since graduation,Cohort Name,Outcome Category,Outcome Status,Track,Format,Campus,CV,Linkedin,Portfolio,Job ready pct,Soft skills score,Soft skills pct,Assessment score,Lab score,Final project grade,Final project pct
0,NaN,Valentine Parker,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1.0,1.0,3.714286,0.742857,96.75,4.78,2.86,0.94952
1,ðŸš©,Gregoria Veum III,2022-06-23,71,Cohort1,Excluded,Not Eligible,WD,FT,RMT,0,0,0.0,0.0,1.000000,0.200000,48.71,3.90,1.79,0.59428
2,NaN,Isai Turcotte DVM,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1.0,1.0,3.285714,0.657143,63.25,4.33,2.36,0.78352

In [2]:
df['Days since graduation'] = df['Days since graduation'].astype(int)
df['Portfolio'] = df['Portfolio'].astype(int)
df.head(3)

,at risk,Name,Career Week end date,Days since graduation,Cohort Name,Outcome Category,Outcome Status,Track,Format,Campus,CV,Linkedin,Portfolio,Job ready pct,Soft skills score,Soft skills pct,Assessment score,Lab score,Final project grade,Final project pct
0,NaN,Valentine Parker,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1,1.0,3.714286,0.742857,96.75,4.78,2.86,0.94952
1,ðŸš©,Gregoria Veum III,2022-06-23,71,Cohort1,Excluded,Not Eligible,WD,FT,RMT,0,0,0,0.0,1.000000,0.200000,48.71,3.90,1.79,0.59428
2,NaN,Isai Turcotte DVM,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1,1.0,3.285714,0.657143,63.25,4.33,2.36,0.78352

In [3]:
df['Soft skills pct']=df['Soft skills pct'].map(lambda n: '{:,.2%}'.format(n))
df['Job ready pct']=df['Job ready pct'].map(lambda n: '{:,.2%}'.format(n))
df['Final project pct']=df['Final project pct'].map(lambda n: '{:,.2%}'.format(n))

df['Soft skills score']=df['Soft skills score'].map(lambda n: '{:,.3}'.format(n))
df.head(15)

,at risk,Name,Career Week end date,Days since graduation,Cohort Name,Outcome Category,Outcome Status,Track,Format,Campus,CV,Linkedin,Portfolio,Job ready pct,Soft skills score,Soft skills pct,Assessment score,Lab score,Final project grade,Final project pct
0,NaN,Valentine Parker,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1,100.00%,3.71,74.29%,96.75,4.78,2.86,94.95%
1,ðŸš©,Gregoria Veum III,2022-06-23,71,Cohort1,Excluded,Not Eligible,WD,FT,RMT,0,0,0,0.00%,1.0,20.00%,48.71,3.90,1.79,59.43%
2,NaN,Isai Turcotte DVM,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1,100.00%,3.29,65.71%,63.25,4.33,2.36,78.35%
3,NaN,Alex Mueller,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1,100.00%,3.57,71.43%,99.35,4.50,1.86,61.75%
4,NaN,Coy Kuphal,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1,100.00%,2.0,40.00%,45.66,4.00,2.29,76.03%
5,NaN,Janis Bayer,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1,100.00%,3.0,60.00%,95.24,4.87,2.86,94.95%
6,NaN,Mr. Emelia Graham,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1,100.00%,4.0,80.00%,85.97,4.42,2.86,94.95%
7,NaN,Drake Hills,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1,100.00%,2.86,57.14%,88.79,4.38,2.86,94.95%
8,NaN,Kirk Mosciski,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1,100.00%,1.57,31.43%,81.64,4.11,2.21,73.37%
9,NaN,Verda Osinski,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1,100.00%,2.14,42.86%,100,4.50,1.79,59.43%
10,NaN,Lucius McCullough,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1,100.00%,2.14,42.86%,74.66,3.84,2.29,76.03%
11,NaN,Lilliana Herman,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1,100.00%,1.71,34.29%,54.95,3.84,2.21,73.37%
12,NaN,Lavina Schaefer,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1,100.00%,2.43,48.57%,91.99,4.26,2.36,78.35%
13,ðŸš©,Ewell Hammes,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,0,66.67%,1.0,20.00%,23.44,3.20,2.00,66.40%
14,ðŸš©,Kassandra Bernier,2022-06-23,71,Cohort1,Employed,Hired In Field,WD,FT,RMT,1,1,0,66.67%,1.0,20.00%,,3.42,1.71,56.77%

In [ ]:
df.head(15)

In [ ]:
df.isnull().sum()

In [8]:
df['Track']=df['Track'].fillna("WD") 
df['at risk']=df['at risk'].fillna(0)
df.loc[(df['at risk']!=0),"at risk"]=1

In [9]:
df.head(3)

,at risk,Name,Career Week end date,Days since graduation,Cohort Name,Outcome Category,Outcome Status,Track,Format,Campus,CV,Linkedin,Portfolio,Job ready pct,Soft skills score,Soft skills pct,Assessment score,Lab score,Final project grade,Final project pct
0,0,Valentine Parker,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1,100.00%,3.71,74.29%,96.75,4.78,2.86,94.95%
1,1,Gregoria Veum III,2022-06-23,71,Cohort1,Excluded,Not Eligible,WD,FT,RMT,0,0,0,0.00%,1.0,20.00%,48.71,3.90,1.79,59.43%
2,0,Isai Turcotte DVM,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1,100.00%,3.29,65.71%,63.25,4.33,2.36,78.35%

In [10]:
df.to_csv('out.csv')