In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_excel(r"C:\Users\Mario\Documents\Labs\Module2\Project_Week7\Sample data set employability__Tableau.xlsx",header=1)
df

,at risk,Name,Career Week end date,Days since graduation,Cohort Name,Outcome Category,Outcome Status,Track,Format,Campus,CV,Linkedin,Portfolio,Job ready pct,Soft skills score,Soft skills pct,Assessment score,Lab score,Final project grade,Final project pct
0,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Valentine Parker,2022-06-23,71.0,Cohort1,Searching,Searching,WD,FT,RMT,1.0,1.0,1.0,1.0,3.714286,0.742857,96.75,4.78,2.860,0.94952
3,ðŸš©,Gregoria Veum III,2022-06-23,71.0,Cohort1,Excluded,Not Eligible,WD,FT,RMT,0.0,0.0,0.0,0.0,1.000000,0.200000,48.71,3.90,1.790,0.59428
4,NaN,Isai Turcotte DVM,2022-06-23,71.0,Cohort1,Searching,Searching,WD,FT,RMT,1.0,1.0,1.0,1.0,3.285714,0.657143,63.25,4.33,2.360,0.78352
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,NaN,Shanelle HarÂªann II,2022-06-27,67.0,Cohort3,Searching,Searching,WD,FT,MAD,1.0,1.0,1.0,1.0,4.666667,0.933333,55.45,3.68,2.375,0.78850
57,NaN,Kelton Runolfsdottir,2022-06-27,67.0,Cohort3,Employed,Hired In Field,WD,FT,MAD,0.0,0.0,0.0,0.0,3.333333,0.666667,80.43,3.65,2.000,0.66400
58,NaN,Eileen Krajcik,2022-06-27,67.0,Cohort3,Excluded,Back To Job,WD,FT,MAD,0.0,0.0,0.0,0.0,3.000000,0.600000,92.52,3.48,2.000,0.66400
59,NaN,Lempi Marvin,2022-06-27,67.0,Cohort3,Employed,Hired In Field,WD,FT,MAD,0.0,0.0,0.0,0.0,3.500000,0.700000,16.02,2.45,1.625,0.53950
60,NaN,Mr. Estella Kulas,2022-06-27,67.0,Cohort3,Employed,Hired In Field,WD,FT,MAD,0.0,0.0,0.0,0.0,4.250000,0.850000,96.36,4.13,2.125,0.70550

In [ ]:
l_c=["Name","Cohort Name","Outcome Category","Outcome Status","Track","Format","Campus"]
for col in l_c:
    df[col]=df[col].str.lower()
df

In [127]:
# Show the number of columns and rows 
df.shape

(57, 17)

In [128]:
# Show the types of columns 
df.dtypes

at risk                          object
Name                             object
Career Week end date     datetime64[ns]
Days since graduation             int64
Cohort Name                      object
Outcome Category                 object
Outcome Status                   object
Track                            object
Format                           object
Campus                           object
CV                                int64
Linkedin                          int64
Portfolio                       float64
Soft skills score               float64
Assessment score                 object
Lab score                       float64
Final project grade             float64
dtype: object

In [129]:
df.describe()

,Days since graduation,CV,Linkedin,Portfolio,Soft skills score,Lab score,Final project grade
count,57.000000,57.000000,57.000000,57.000000,38.000000,38.000000,57.000000
mean,69.052632,0.684211,0.719298,0.508947,3.543076,4.097895,2.107193
std,1.746640,0.468961,0.453336,0.504188,1.220954,0.620602,0.323249
min,67.000000,0.000000,0.000000,0.000000,1.000000,2.450000,1.625000
25%,67.000000,0.000000,0.000000,0.000000,2.892857,3.720000,1.875000
50%,70.000000,1.000000,1.000000,1.000000,3.875000,4.285000,2.000000
75%,71.000000,1.000000,1.000000,1.000000,4.656250,4.515000,2.360000
max,71.000000,1.000000,1.000000,1.000000,5.000000,5.000000,2.860000

In [130]:
df.isnull().sum()

at risk                  54
Name                      0
Career Week end date      0
Days since graduation     0
Cohort Name               0
Outcome Category          0
Outcome Status            0
Track                    19
Format                    0
Campus                    0
CV                        0
Linkedin                  0
Portfolio                 0
Soft skills score        19
Assessment score          0
Lab score                19
Final project grade       0
dtype: int64

In [131]:
#remplacer les cellules vide par "-"
df['at risk']=df['at risk'].fillna(0)

In [133]:
df.head(4)

,at risk,Name,Career Week end date,Days since graduation,Cohort Name,Outcome Category,Outcome Status,Track,Format,Campus,CV,Linkedin,Portfolio,Soft skills score,Assessment score,Lab score,Final project grade
0,0,valentine parker,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,1.0,3.714286,96.75,4.78,2.86
1,ðŸš©,gregoria veum iii,2022-06-23,71,cohort1,excluded,not eligible,wd,ft,rmt,0,0,0.0,1.000000,48.71,3.90,1.79
2,0,isai turcotte dvm,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,1.0,3.285714,63.25,4.33,2.36
3,0,alex mueller,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,1.0,3.571429,99.35,4.50,1.86

In [134]:
df.loc[(df['at risk']!=0),"at risk"]=1

In [135]:
df

,at risk,Name,Career Week end date,Days since graduation,Cohort Name,Outcome Category,Outcome Status,Track,Format,Campus,CV,Linkedin,Portfolio,Soft skills score,Assessment score,Lab score,Final project grade
0,0,valentine parker,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,1.00,3.714286,96.75,4.78,2.860
1,1,gregoria veum iii,2022-06-23,71,cohort1,excluded,not eligible,wd,ft,rmt,0,0,0.00,1.000000,48.71,3.90,1.790
2,0,isai turcotte dvm,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,1.00,3.285714,63.25,4.33,2.360
3,0,alex mueller,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,1.00,3.571429,99.35,4.50,1.860
4,0,coy kuphal,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,1.00,2.000000,45.66,4.00,2.290
5,0,janis bayer,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,1.00,3.000000,95.24,4.87,2.860
6,0,mr. emelia graham,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,1.00,4.000000,85.97,4.42,2.860
7,0,drake hills,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,1.00,2.857143,88.79,4.38,2.860
8,0,kirk mosciski,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,1.00,1.571429,81.64,4.11,2.210
9,0,verda osinski,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,1.00,2.142857,100,4.50,1.790
10,0,lucius mccullough,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,1.00,2.142857,74.66,3.84,2.290
11,0,lilliana herman,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,1.00,1.714286,54.95,3.84,2.210
12,0,lavina schaefer,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,1.00,2.428571,91.99,4.26,2.360
13,1,ewell hammes,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,0.00,1.000000,23.44,3.20,2.000
14,1,kassandra bernier,2022-06-23,71,cohort1,employed,hired in field,wd,ft,rmt,1,1,0.00,1.000000,,3.42,1.710
15,0,clemens fisher,2022-06-24,70,cohort2,excluded,back to job,NaN,ft,lis,1,1,0.00,NaN,98.86,NaN,2.430
16,0,dennis kilback,2022-06-24,70,cohort2,employed,hired in field,NaN,ft,lis,0,0,0.00,NaN,76.14,NaN,1.710
17,0,nicholas miller,2022-06-24,70,cohort2,searching,searching,NaN,ft,lis,1,1,0.00,NaN,98.86,NaN,2.430
18,0,claude kautzer dds,2022-06-24,70,cohort2,searching,searching,NaN,ft,lis,1,1,1.00,NaN,96.97,NaN,1.710
19,0,nia brown,2022-06-24,70,cohort2,searching,searching,NaN,ft,lis,1,1,0.00,NaN,86.36,NaN,1.930
20,0,kirk carroll,2022-06-24,70,cohort2,employed,hired in field,NaN,ft,lis,1,1,1.00,NaN,98.86,NaN,2.790
21,0,libbie sauer,2022-06-24,70,cohort2,searching,searching,NaN,ft,lis,1,1,1.00,NaN,54.38,NaN,1.860
22,0,emmitt jaskolski,2022-06-24,70,cohort2,searching,searching,NaN,ft,lis,0,0,0.00,NaN,90.75,NaN,1.930
23,0,susanna kulas,2022-06-24,70,cohort2,searching,searching,NaN,ft,lis,1,1,1.00,NaN,100,NaN,2.000
24,0,torrey lueilwitz,2022-06-24,70,cohort2,employed,hired in field,NaN,ft,lis,1,1,0.00,NaN,100,NaN,2.070
25,0,lura hammes,2022-06-24,70,cohort2,searching,searching,NaN,ft,lis,1,1,0.00,NaN,87.88,NaN,1.790
26,0,mattie reinger,2022-06-24,70,cohort2,employed,hired in field,NaN,ft,lis,1,1,1.00,NaN,55.68,NaN,1.930
27,0,luna hoeger,2022-06-24,70,cohort2,excluded,entrepreneur,NaN,ft,lis,0,0,0.00,NaN,90.48,NaN,1.930
28,0,kelton spinka,2022-06-24,70,cohort2,searching,searching,NaN,ft,lis,1,1,0.00,NaN,95.45,NaN,2.210
29,0,leonardo mueller,2022-06-24,70,cohort2,searching,searching,NaN,ft,lis,1,1,1.00,NaN,71.1,NaN,1.860
30,0,miss jayda okuneva,2022-06-24,70,cohort2,employed,hired in field,NaN,ft,lis,1,1,0.00,NaN,100,NaN,2.000
31,0,alexandrine pouros,2022-06-24,70,cohort2,searching,searching,NaN,ft,lis,1,1,0.00,NaN,96.59,NaN,2.000
32,0,carleton bayer,2022-06-24,70,cohort2,employed,hired in field,NaN,ft,lis,1,1,1.00,NaN,95.29,NaN,2.290
33,0,mrs. delaney koch,2022-06-24,70,cohort2,employed,hired in field,NaN,ft,lis,1,1,1.00,NaN,93.72,NaN,1.930
34,0,faye rowe,2022-06-27,67,cohort3,searching,searching,wd,ft,mad,0,1,0.00,3.875000,73.43,3.87,1.875
35,0,mandy toy,2022-06-27,67,cohort3,employed,hired in field,wd,ft,mad,1,1,1.00,3.875000,100,5.00,2.375
36,0,ursula quigley,2022-06-27,67,cohort3,excluded,not eligible,wd,ft,mad,1,1,0.00,4.000000,95.25,4.30,2.000
37,0,alfonso herman,2022-06-27,67,cohort3,employed,ironhack employee,wd,ft,mad,0,1,0.01,4.750000,98.86,4.74,1.875
38,0,orin smith,2022-06-27,67,cohort3,searching,searching,wd,ft,mad,1,1,1.00,4.625000,61.36,4.57,2.375
39,0,felicia hettinger,2022-06-27,67,cohort3,searching,searching,wd,ft,mad,0,0,0.00,4.333333,96.36,4.48,2.125
40,0,raphael koss dvm,2022-06-27,67,cohort3,searching,searching,wd,ft,mad,0,0,0.00,4.500000,98.18,4.52,1.875
41,0,cristina kreiger,2022-06-27,67,cohort3,employed,hired in field,wd,ft,mad,0,0,0.00,4.666667,86.36,4.48,2.375
42,0,marilou torp,2022-06-27,67,cohort3,employed,hired in field,wd,ft,mad,1,1,1.00,4.166667,62.73,2.48,1.625
43,0,lorena reichel,2022-06-27,67,cohort3,employed,hired in field,wd,ft,mad,1,1,1.00,4.666667,98.18,4.65,2.125
44,0,elvie simonis,2022-06-27,67,cohort3,searching,searching,wd,ft,mad,1,1,1.00,4.666667,74.55,4.27,2.375
45,0,tianna langosh,2022-06-27,67,cohort3,searching,searching,wd,ft,mad,0,0,1.00,3.833333,52.29,3.14,1.625
46,0,dr. estelle homenick,2022-06-27,67,cohort3,employed,hired in field,wd,ft,mad,1,1,1.00,4.666667,54.61,3.52,2.375
47,0,uriel harvey,2022-06-27,67,cohort3,excluded,not graduated in career services,wd,ft,mad,1,1,1.00,5.000000,90.91,4.61,1.875
48,0,marilie spencer dds,2022-06-27,67,cohort3,searching,searching,wd,ft,mad,0,0,0.00,4.666667,83.84,4.43,2.125
49,0,nettie o'keefe,2022-06-27,67,cohort3,employed,hired in field,wd,ft,mad,0,0,0.00,4.666667,72.12,3.52,2.125
50,0,antone denesik,2022-06-27,67,cohort3,searching,searching,wd,ft,mad,0,0,0.00,4.500000,97.98,4.57,1.875
51,0,roscoe gaylord,2022-06-27,67,cohort3,searching,searching,wd,ft,mad,0,0,0.00,5.000000,95.76,4.83,1.875
52,0,shanelle harÂªann ii,2022-06-27,67,cohort3,searching,searching,wd,ft,mad,1,1,1.00,4.666667,55.45,3.68,2.375
53,0,kelton runolfsdottir,2022-06-27,67,cohort3,employed,hired in field,wd,ft,mad,0,0,0.00,3.333333,80.43,3.65,2.000
54,0,eileen krajcik,2022-06-27,67,cohort3,excluded,back to job,wd,ft,mad,0,0,0.00,3.000000,92.52,3.48,2.000
55,0,lempi marvin,2022-06-27,67,cohort3,employed,hired in field,wd,ft,mad,0,0,0.00,3.500000,16.02,2.45,1.625
56,0,mr. estella kulas,2022-06-27,67,cohort3,employed,hired in field,wd,ft,mad,0,0,0.00,4.250000,96.36,4.13,2.125

In [136]:
#remplacer les cellules vide par "-"
df['Track']=df['Track'].fillna("wd") 
df

,at risk,Name,Career Week end date,Days since graduation,Cohort Name,Outcome Category,Outcome Status,Track,Format,Campus,CV,Linkedin,Portfolio,Soft skills score,Assessment score,Lab score,Final project grade
0,0,valentine parker,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,1.00,3.714286,96.75,4.78,2.860
1,1,gregoria veum iii,2022-06-23,71,cohort1,excluded,not eligible,wd,ft,rmt,0,0,0.00,1.000000,48.71,3.90,1.790
2,0,isai turcotte dvm,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,1.00,3.285714,63.25,4.33,2.360
3,0,alex mueller,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,1.00,3.571429,99.35,4.50,1.860
4,0,coy kuphal,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,1.00,2.000000,45.66,4.00,2.290
5,0,janis bayer,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,1.00,3.000000,95.24,4.87,2.860
6,0,mr. emelia graham,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,1.00,4.000000,85.97,4.42,2.860
7,0,drake hills,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,1.00,2.857143,88.79,4.38,2.860
8,0,kirk mosciski,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,1.00,1.571429,81.64,4.11,2.210
9,0,verda osinski,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,1.00,2.142857,100,4.50,1.790
10,0,lucius mccullough,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,1.00,2.142857,74.66,3.84,2.290
11,0,lilliana herman,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,1.00,1.714286,54.95,3.84,2.210
12,0,lavina schaefer,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,1.00,2.428571,91.99,4.26,2.360
13,1,ewell hammes,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,0.00,1.000000,23.44,3.20,2.000
14,1,kassandra bernier,2022-06-23,71,cohort1,employed,hired in field,wd,ft,rmt,1,1,0.00,1.000000,,3.42,1.710
15,0,clemens fisher,2022-06-24,70,cohort2,excluded,back to job,wd,ft,lis,1,1,0.00,NaN,98.86,NaN,2.430
16,0,dennis kilback,2022-06-24,70,cohort2,employed,hired in field,wd,ft,lis,0,0,0.00,NaN,76.14,NaN,1.710
17,0,nicholas miller,2022-06-24,70,cohort2,searching,searching,wd,ft,lis,1,1,0.00,NaN,98.86,NaN,2.430
18,0,claude kautzer dds,2022-06-24,70,cohort2,searching,searching,wd,ft,lis,1,1,1.00,NaN,96.97,NaN,1.710
19,0,nia brown,2022-06-24,70,cohort2,searching,searching,wd,ft,lis,1,1,0.00,NaN,86.36,NaN,1.930
20,0,kirk carroll,2022-06-24,70,cohort2,employed,hired in field,wd,ft,lis,1,1,1.00,NaN,98.86,NaN,2.790
21,0,libbie sauer,2022-06-24,70,cohort2,searching,searching,wd,ft,lis,1,1,1.00,NaN,54.38,NaN,1.860
22,0,emmitt jaskolski,2022-06-24,70,cohort2,searching,searching,wd,ft,lis,0,0,0.00,NaN,90.75,NaN,1.930
23,0,susanna kulas,2022-06-24,70,cohort2,searching,searching,wd,ft,lis,1,1,1.00,NaN,100,NaN,2.000
24,0,torrey lueilwitz,2022-06-24,70,cohort2,employed,hired in field,wd,ft,lis,1,1,0.00,NaN,100,NaN,2.070
25,0,lura hammes,2022-06-24,70,cohort2,searching,searching,wd,ft,lis,1,1,0.00,NaN,87.88,NaN,1.790
26,0,mattie reinger,2022-06-24,70,cohort2,employed,hired in field,wd,ft,lis,1,1,1.00,NaN,55.68,NaN,1.930
27,0,luna hoeger,2022-06-24,70,cohort2,excluded,entrepreneur,wd,ft,lis,0,0,0.00,NaN,90.48,NaN,1.930
28,0,kelton spinka,2022-06-24,70,cohort2,searching,searching,wd,ft,lis,1,1,0.00,NaN,95.45,NaN,2.210
29,0,leonardo mueller,2022-06-24,70,cohort2,searching,searching,wd,ft,lis,1,1,1.00,NaN,71.1,NaN,1.860
30,0,miss jayda okuneva,2022-06-24,70,cohort2,employed,hired in field,wd,ft,lis,1,1,0.00,NaN,100,NaN,2.000
31,0,alexandrine pouros,2022-06-24,70,cohort2,searching,searching,wd,ft,lis,1,1,0.00,NaN,96.59,NaN,2.000
32,0,carleton bayer,2022-06-24,70,cohort2,employed,hired in field,wd,ft,lis,1,1,1.00,NaN,95.29,NaN,2.290
33,0,mrs. delaney koch,2022-06-24,70,cohort2,employed,hired in field,wd,ft,lis,1,1,1.00,NaN,93.72,NaN,1.930
34,0,faye rowe,2022-06-27,67,cohort3,searching,searching,wd,ft,mad,0,1,0.00,3.875000,73.43,3.87,1.875
35,0,mandy toy,2022-06-27,67,cohort3,employed,hired in field,wd,ft,mad,1,1,1.00,3.875000,100,5.00,2.375
36,0,ursula quigley,2022-06-27,67,cohort3,excluded,not eligible,wd,ft,mad,1,1,0.00,4.000000,95.25,4.30,2.000
37,0,alfonso herman,2022-06-27,67,cohort3,employed,ironhack employee,wd,ft,mad,0,1,0.01,4.750000,98.86,4.74,1.875
38,0,orin smith,2022-06-27,67,cohort3,searching,searching,wd,ft,mad,1,1,1.00,4.625000,61.36,4.57,2.375
39,0,felicia hettinger,2022-06-27,67,cohort3,searching,searching,wd,ft,mad,0,0,0.00,4.333333,96.36,4.48,2.125
40,0,raphael koss dvm,2022-06-27,67,cohort3,searching,searching,wd,ft,mad,0,0,0.00,4.500000,98.18,4.52,1.875
41,0,cristina kreiger,2022-06-27,67,cohort3,employed,hired in field,wd,ft,mad,0,0,0.00,4.666667,86.36,4.48,2.375
42,0,marilou torp,2022-06-27,67,cohort3,employed,hired in field,wd,ft,mad,1,1,1.00,4.166667,62.73,2.48,1.625
43,0,lorena reichel,2022-06-27,67,cohort3,employed,hired in field,wd,ft,mad,1,1,1.00,4.666667,98.18,4.65,2.125
44,0,elvie simonis,2022-06-27,67,cohort3,searching,searching,wd,ft,mad,1,1,1.00,4.666667,74.55,4.27,2.375
45,0,tianna langosh,2022-06-27,67,cohort3,searching,searching,wd,ft,mad,0,0,1.00,3.833333,52.29,3.14,1.625
46,0,dr. estelle homenick,2022-06-27,67,cohort3,employed,hired in field,wd,ft,mad,1,1,1.00,4.666667,54.61,3.52,2.375
47,0,uriel harvey,2022-06-27,67,cohort3,excluded,not graduated in career services,wd,ft,mad,1,1,1.00,5.000000,90.91,4.61,1.875
48,0,marilie spencer dds,2022-06-27,67,cohort3,searching,searching,wd,ft,mad,0,0,0.00,4.666667,83.84,4.43,2.125
49,0,nettie o'keefe,2022-06-27,67,cohort3,employed,hired in field,wd,ft,mad,0,0,0.00,4.666667,72.12,3.52,2.125
50,0,antone denesik,2022-06-27,67,cohort3,searching,searching,wd,ft,mad,0,0,0.00,4.500000,97.98,4.57,1.875
51,0,roscoe gaylord,2022-06-27,67,cohort3,searching,searching,wd,ft,mad,0,0,0.00,5.000000,95.76,4.83,1.875
52,0,shanelle harÂªann ii,2022-06-27,67,cohort3,searching,searching,wd,ft,mad,1,1,1.00,4.666667,55.45,3.68,2.375
53,0,kelton runolfsdottir,2022-06-27,67,cohort3,employed,hired in field,wd,ft,mad,0,0,0.00,3.333333,80.43,3.65,2.000
54,0,eileen krajcik,2022-06-27,67,cohort3,excluded,back to job,wd,ft,mad,0,0,0.00,3.000000,92.52,3.48,2.000
55,0,lempi marvin,2022-06-27,67,cohort3,employed,hired in field,wd,ft,mad,0,0,0.00,3.500000,16.02,2.45,1.625
56,0,mr. estella kulas,2022-06-27,67,cohort3,employed,hired in field,wd,ft,mad,0,0,0.00,4.250000,96.36,4.13,2.125

In [137]:
df.loc[df["Assessment score"]==" ","Assessment score"]=0

In [138]:
df

,at risk,Name,Career Week end date,Days since graduation,Cohort Name,Outcome Category,Outcome Status,Track,Format,Campus,CV,Linkedin,Portfolio,Soft skills score,Assessment score,Lab score,Final project grade
0,0,valentine parker,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,1.00,3.714286,96.75,4.78,2.860
1,1,gregoria veum iii,2022-06-23,71,cohort1,excluded,not eligible,wd,ft,rmt,0,0,0.00,1.000000,48.71,3.90,1.790
2,0,isai turcotte dvm,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,1.00,3.285714,63.25,4.33,2.360
3,0,alex mueller,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,1.00,3.571429,99.35,4.50,1.860
4,0,coy kuphal,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,1.00,2.000000,45.66,4.00,2.290
5,0,janis bayer,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,1.00,3.000000,95.24,4.87,2.860
6,0,mr. emelia graham,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,1.00,4.000000,85.97,4.42,2.860
7,0,drake hills,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,1.00,2.857143,88.79,4.38,2.860
8,0,kirk mosciski,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,1.00,1.571429,81.64,4.11,2.210
9,0,verda osinski,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,1.00,2.142857,100,4.50,1.790
10,0,lucius mccullough,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,1.00,2.142857,74.66,3.84,2.290
11,0,lilliana herman,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,1.00,1.714286,54.95,3.84,2.210
12,0,lavina schaefer,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,1.00,2.428571,91.99,4.26,2.360
13,1,ewell hammes,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,0.00,1.000000,23.44,3.20,2.000
14,1,kassandra bernier,2022-06-23,71,cohort1,employed,hired in field,wd,ft,rmt,1,1,0.00,1.000000,0,3.42,1.710
15,0,clemens fisher,2022-06-24,70,cohort2,excluded,back to job,wd,ft,lis,1,1,0.00,NaN,98.86,NaN,2.430
16,0,dennis kilback,2022-06-24,70,cohort2,employed,hired in field,wd,ft,lis,0,0,0.00,NaN,76.14,NaN,1.710
17,0,nicholas miller,2022-06-24,70,cohort2,searching,searching,wd,ft,lis,1,1,0.00,NaN,98.86,NaN,2.430
18,0,claude kautzer dds,2022-06-24,70,cohort2,searching,searching,wd,ft,lis,1,1,1.00,NaN,96.97,NaN,1.710
19,0,nia brown,2022-06-24,70,cohort2,searching,searching,wd,ft,lis,1,1,0.00,NaN,86.36,NaN,1.930
20,0,kirk carroll,2022-06-24,70,cohort2,employed,hired in field,wd,ft,lis,1,1,1.00,NaN,98.86,NaN,2.790
21,0,libbie sauer,2022-06-24,70,cohort2,searching,searching,wd,ft,lis,1,1,1.00,NaN,54.38,NaN,1.860
22,0,emmitt jaskolski,2022-06-24,70,cohort2,searching,searching,wd,ft,lis,0,0,0.00,NaN,90.75,NaN,1.930
23,0,susanna kulas,2022-06-24,70,cohort2,searching,searching,wd,ft,lis,1,1,1.00,NaN,100,NaN,2.000
24,0,torrey lueilwitz,2022-06-24,70,cohort2,employed,hired in field,wd,ft,lis,1,1,0.00,NaN,100,NaN,2.070
25,0,lura hammes,2022-06-24,70,cohort2,searching,searching,wd,ft,lis,1,1,0.00,NaN,87.88,NaN,1.790
26,0,mattie reinger,2022-06-24,70,cohort2,employed,hired in field,wd,ft,lis,1,1,1.00,NaN,55.68,NaN,1.930
27,0,luna hoeger,2022-06-24,70,cohort2,excluded,entrepreneur,wd,ft,lis,0,0,0.00,NaN,90.48,NaN,1.930
28,0,kelton spinka,2022-06-24,70,cohort2,searching,searching,wd,ft,lis,1,1,0.00,NaN,95.45,NaN,2.210
29,0,leonardo mueller,2022-06-24,70,cohort2,searching,searching,wd,ft,lis,1,1,1.00,NaN,71.1,NaN,1.860
30,0,miss jayda okuneva,2022-06-24,70,cohort2,employed,hired in field,wd,ft,lis,1,1,0.00,NaN,100,NaN,2.000
31,0,alexandrine pouros,2022-06-24,70,cohort2,searching,searching,wd,ft,lis,1,1,0.00,NaN,96.59,NaN,2.000
32,0,carleton bayer,2022-06-24,70,cohort2,employed,hired in field,wd,ft,lis,1,1,1.00,NaN,95.29,NaN,2.290
33,0,mrs. delaney koch,2022-06-24,70,cohort2,employed,hired in field,wd,ft,lis,1,1,1.00,NaN,93.72,NaN,1.930
34,0,faye rowe,2022-06-27,67,cohort3,searching,searching,wd,ft,mad,0,1,0.00,3.875000,73.43,3.87,1.875
35,0,mandy toy,2022-06-27,67,cohort3,employed,hired in field,wd,ft,mad,1,1,1.00,3.875000,100,5.00,2.375
36,0,ursula quigley,2022-06-27,67,cohort3,excluded,not eligible,wd,ft,mad,1,1,0.00,4.000000,95.25,4.30,2.000
37,0,alfonso herman,2022-06-27,67,cohort3,employed,ironhack employee,wd,ft,mad,0,1,0.01,4.750000,98.86,4.74,1.875
38,0,orin smith,2022-06-27,67,cohort3,searching,searching,wd,ft,mad,1,1,1.00,4.625000,61.36,4.57,2.375
39,0,felicia hettinger,2022-06-27,67,cohort3,searching,searching,wd,ft,mad,0,0,0.00,4.333333,96.36,4.48,2.125
40,0,raphael koss dvm,2022-06-27,67,cohort3,searching,searching,wd,ft,mad,0,0,0.00,4.500000,98.18,4.52,1.875
41,0,cristina kreiger,2022-06-27,67,cohort3,employed,hired in field,wd,ft,mad,0,0,0.00,4.666667,86.36,4.48,2.375
42,0,marilou torp,2022-06-27,67,cohort3,employed,hired in field,wd,ft,mad,1,1,1.00,4.166667,62.73,2.48,1.625
43,0,lorena reichel,2022-06-27,67,cohort3,employed,hired in field,wd,ft,mad,1,1,1.00,4.666667,98.18,4.65,2.125
44,0,elvie simonis,2022-06-27,67,cohort3,searching,searching,wd,ft,mad,1,1,1.00,4.666667,74.55,4.27,2.375
45,0,tianna langosh,2022-06-27,67,cohort3,searching,searching,wd,ft,mad,0,0,1.00,3.833333,52.29,3.14,1.625
46,0,dr. estelle homenick,2022-06-27,67,cohort3,employed,hired in field,wd,ft,mad,1,1,1.00,4.666667,54.61,3.52,2.375
47,0,uriel harvey,2022-06-27,67,cohort3,excluded,not graduated in career services,wd,ft,mad,1,1,1.00,5.000000,90.91,4.61,1.875
48,0,marilie spencer dds,2022-06-27,67,cohort3,searching,searching,wd,ft,mad,0,0,0.00,4.666667,83.84,4.43,2.125
49,0,nettie o'keefe,2022-06-27,67,cohort3,employed,hired in field,wd,ft,mad,0,0,0.00,4.666667,72.12,3.52,2.125
50,0,antone denesik,2022-06-27,67,cohort3,searching,searching,wd,ft,mad,0,0,0.00,4.500000,97.98,4.57,1.875
51,0,roscoe gaylord,2022-06-27,67,cohort3,searching,searching,wd,ft,mad,0,0,0.00,5.000000,95.76,4.83,1.875
52,0,shanelle harÂªann ii,2022-06-27,67,cohort3,searching,searching,wd,ft,mad,1,1,1.00,4.666667,55.45,3.68,2.375
53,0,kelton runolfsdottir,2022-06-27,67,cohort3,employed,hired in field,wd,ft,mad,0,0,0.00,3.333333,80.43,3.65,2.000
54,0,eileen krajcik,2022-06-27,67,cohort3,excluded,back to job,wd,ft,mad,0,0,0.00,3.000000,92.52,3.48,2.000
55,0,lempi marvin,2022-06-27,67,cohort3,employed,hired in field,wd,ft,mad,0,0,0.00,3.500000,16.02,2.45,1.625
56,0,mr. estella kulas,2022-06-27,67,cohort3,employed,hired in field,wd,ft,mad,0,0,0.00,4.250000,96.36,4.13,2.125

In [139]:
round(df.groupby("Cohort Name")["Soft skills score"].mean())

Cohort Name
cohort1    2.0
cohort2    NaN
cohort3    4.0
Name: Soft skills score, dtype: float64

In [140]:
df.loc[(df["Cohort Name"]=="cohort2")&(df["Soft skills score"].isna()),"Soft skills score"]=2.5

In [141]:
df

,at risk,Name,Career Week end date,Days since graduation,Cohort Name,Outcome Category,Outcome Status,Track,Format,Campus,CV,Linkedin,Portfolio,Soft skills score,Assessment score,Lab score,Final project grade
0,0,valentine parker,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,1.00,3.714286,96.75,4.78,2.860
1,1,gregoria veum iii,2022-06-23,71,cohort1,excluded,not eligible,wd,ft,rmt,0,0,0.00,1.000000,48.71,3.90,1.790
2,0,isai turcotte dvm,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,1.00,3.285714,63.25,4.33,2.360
3,0,alex mueller,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,1.00,3.571429,99.35,4.50,1.860
4,0,coy kuphal,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,1.00,2.000000,45.66,4.00,2.290
5,0,janis bayer,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,1.00,3.000000,95.24,4.87,2.860
6,0,mr. emelia graham,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,1.00,4.000000,85.97,4.42,2.860
7,0,drake hills,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,1.00,2.857143,88.79,4.38,2.860
8,0,kirk mosciski,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,1.00,1.571429,81.64,4.11,2.210
9,0,verda osinski,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,1.00,2.142857,100,4.50,1.790
10,0,lucius mccullough,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,1.00,2.142857,74.66,3.84,2.290
11,0,lilliana herman,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,1.00,1.714286,54.95,3.84,2.210
12,0,lavina schaefer,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,1.00,2.428571,91.99,4.26,2.360
13,1,ewell hammes,2022-06-23,71,cohort1,searching,searching,wd,ft,rmt,1,1,0.00,1.000000,23.44,3.20,2.000
14,1,kassandra bernier,2022-06-23,71,cohort1,employed,hired in field,wd,ft,rmt,1,1,0.00,1.000000,0,3.42,1.710
15,0,clemens fisher,2022-06-24,70,cohort2,excluded,back to job,wd,ft,lis,1,1,0.00,2.500000,98.86,NaN,2.430
16,0,dennis kilback,2022-06-24,70,cohort2,employed,hired in field,wd,ft,lis,0,0,0.00,2.500000,76.14,NaN,1.710
17,0,nicholas miller,2022-06-24,70,cohort2,searching,searching,wd,ft,lis,1,1,0.00,2.500000,98.86,NaN,2.430
18,0,claude kautzer dds,2022-06-24,70,cohort2,searching,searching,wd,ft,lis,1,1,1.00,2.500000,96.97,NaN,1.710
19,0,nia brown,2022-06-24,70,cohort2,searching,searching,wd,ft,lis,1,1,0.00,2.500000,86.36,NaN,1.930
20,0,kirk carroll,2022-06-24,70,cohort2,employed,hired in field,wd,ft,lis,1,1,1.00,2.500000,98.86,NaN,2.790
21,0,libbie sauer,2022-06-24,70,cohort2,searching,searching,wd,ft,lis,1,1,1.00,2.500000,54.38,NaN,1.860
22,0,emmitt jaskolski,2022-06-24,70,cohort2,searching,searching,wd,ft,lis,0,0,0.00,2.500000,90.75,NaN,1.930
23,0,susanna kulas,2022-06-24,70,cohort2,searching,searching,wd,ft,lis,1,1,1.00,2.500000,100,NaN,2.000
24,0,torrey lueilwitz,2022-06-24,70,cohort2,employed,hired in field,wd,ft,lis,1,1,0.00,2.500000,100,NaN,2.070
25,0,lura hammes,2022-06-24,70,cohort2,searching,searching,wd,ft,lis,1,1,0.00,2.500000,87.88,NaN,1.790
26,0,mattie reinger,2022-06-24,70,cohort2,employed,hired in field,wd,ft,lis,1,1,1.00,2.500000,55.68,NaN,1.930
27,0,luna hoeger,2022-06-24,70,cohort2,excluded,entrepreneur,wd,ft,lis,0,0,0.00,2.500000,90.48,NaN,1.930
28,0,kelton spinka,2022-06-24,70,cohort2,searching,searching,wd,ft,lis,1,1,0.00,2.500000,95.45,NaN,2.210
29,0,leonardo mueller,2022-06-24,70,cohort2,searching,searching,wd,ft,lis,1,1,1.00,2.500000,71.1,NaN,1.860
30,0,miss jayda okuneva,2022-06-24,70,cohort2,employed,hired in field,wd,ft,lis,1,1,0.00,2.500000,100,NaN,2.000
31,0,alexandrine pouros,2022-06-24,70,cohort2,searching,searching,wd,ft,lis,1,1,0.00,2.500000,96.59,NaN,2.000
32,0,carleton bayer,2022-06-24,70,cohort2,employed,hired in field,wd,ft,lis,1,1,1.00,2.500000,95.29,NaN,2.290
33,0,mrs. delaney koch,2022-06-24,70,cohort2,employed,hired in field,wd,ft,lis,1,1,1.00,2.500000,93.72,NaN,1.930
34,0,faye rowe,2022-06-27,67,cohort3,searching,searching,wd,ft,mad,0,1,0.00,3.875000,73.43,3.87,1.875
35,0,mandy toy,2022-06-27,67,cohort3,employed,hired in field,wd,ft,mad,1,1,1.00,3.875000,100,5.00,2.375
36,0,ursula quigley,2022-06-27,67,cohort3,excluded,not eligible,wd,ft,mad,1,1,0.00,4.000000,95.25,4.30,2.000
37,0,alfonso herman,2022-06-27,67,cohort3,employed,ironhack employee,wd,ft,mad,0,1,0.01,4.750000,98.86,4.74,1.875
38,0,orin smith,2022-06-27,67,cohort3,searching,searching,wd,ft,mad,1,1,1.00,4.625000,61.36,4.57,2.375
39,0,felicia hettinger,2022-06-27,67,cohort3,searching,searching,wd,ft,mad,0,0,0.00,4.333333,96.36,4.48,2.125
40,0,raphael koss dvm,2022-06-27,67,cohort3,searching,searching,wd,ft,mad,0,0,0.00,4.500000,98.18,4.52,1.875
41,0,cristina kreiger,2022-06-27,67,cohort3,employed,hired in field,wd,ft,mad,0,0,0.00,4.666667,86.36,4.48,2.375
42,0,marilou torp,2022-06-27,67,cohort3,employed,hired in field,wd,ft,mad,1,1,1.00,4.166667,62.73,2.48,1.625
43,0,lorena reichel,2022-06-27,67,cohort3,employed,hired in field,wd,ft,mad,1,1,1.00,4.666667,98.18,4.65,2.125
44,0,elvie simonis,2022-06-27,67,cohort3,searching,searching,wd,ft,mad,1,1,1.00,4.666667,74.55,4.27,2.375
45,0,tianna langosh,2022-06-27,67,cohort3,searching,searching,wd,ft,mad,0,0,1.00,3.833333,52.29,3.14,1.625
46,0,dr. estelle homenick,2022-06-27,67,cohort3,employed,hired in field,wd,ft,mad,1,1,1.00,4.666667,54.61,3.52,2.375
47,0,uriel harvey,2022-06-27,67,cohort3,excluded,not graduated in career services,wd,ft,mad,1,1,1.00,5.000000,90.91,4.61,1.875
48,0,marilie spencer dds,2022-06-27,67,cohort3,searching,searching,wd,ft,mad,0,0,0.00,4.666667,83.84,4.43,2.125
49,0,nettie o'keefe,2022-06-27,67,cohort3,employed,hired in field,wd,ft,mad,0,0,0.00,4.666667,72.12,3.52,2.125
50,0,antone denesik,2022-06-27,67,cohort3,searching,searching,wd,ft,mad,0,0,0.00,4.500000,97.98,4.57,1.875
51,0,roscoe gaylord,2022-06-27,67,cohort3,searching,searching,wd,ft,mad,0,0,0.00,5.000000,95.76,4.83,1.875
52,0,shanelle harÂªann ii,2022-06-27,67,cohort3,searching,searching,wd,ft,mad,1,1,1.00,4.666667,55.45,3.68,2.375
53,0,kelton runolfsdottir,2022-06-27,67,cohort3,employed,hired in field,wd,ft,mad,0,0,0.00,3.333333,80.43,3.65,2.000
54,0,eileen krajcik,2022-06-27,67,cohort3,excluded,back to job,wd,ft,mad,0,0,0.00,3.000000,92.52,3.48,2.000
55,0,lempi marvin,2022-06-27,67,cohort3,employed,hired in field,wd,ft,mad,0,0,0.00,3.500000,16.02,2.45,1.625
56,0,mr. estella kulas,2022-06-27,67,cohort3,employed,hired in field,wd,ft,mad,0,0,0.00,4.250000,96.36,4.13,2.125

In [142]:
round(df.groupby("Cohort Name")["Lab score"].mean())

Cohort Name
cohort1    4.0
cohort2    NaN
cohort3    4.0
Name: Lab score, dtype: float64

In [143]:
df.loc[(df["Cohort Name"]=="cohort2")&(df["Lab score"].isna()),"Lab score"]=4

In [4]:
df

,at risk,Name,Career Week end date,Days since graduation,Cohort Name,Outcome Category,Outcome Status,Track,Format,Campus,CV,Linkedin,Portfolio,Job ready pct,Soft skills score,Soft skills pct,Assessment score,Lab score,Final project grade,Final project pct
0,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Valentine Parker,2022-06-23,71.0,Cohort1,Searching,Searching,WD,FT,RMT,1.0,1.0,1.0,1.0,3.714286,0.742857,96.75,4.78,2.860,0.94952
3,ðŸš©,Gregoria Veum III,2022-06-23,71.0,Cohort1,Excluded,Not Eligible,WD,FT,RMT,0.0,0.0,0.0,0.0,1.000000,0.200000,48.71,3.90,1.790,0.59428
4,NaN,Isai Turcotte DVM,2022-06-23,71.0,Cohort1,Searching,Searching,WD,FT,RMT,1.0,1.0,1.0,1.0,3.285714,0.657143,63.25,4.33,2.360,0.78352
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,NaN,Shanelle HarÂªann II,2022-06-27,67.0,Cohort3,Searching,Searching,WD,FT,MAD,1.0,1.0,1.0,1.0,4.666667,0.933333,55.45,3.68,2.375,0.78850
57,NaN,Kelton Runolfsdottir,2022-06-27,67.0,Cohort3,Employed,Hired In Field,WD,FT,MAD,0.0,0.0,0.0,0.0,3.333333,0.666667,80.43,3.65,2.000,0.66400
58,NaN,Eileen Krajcik,2022-06-27,67.0,Cohort3,Excluded,Back To Job,WD,FT,MAD,0.0,0.0,0.0,0.0,3.000000,0.600000,92.52,3.48,2.000,0.66400
59,NaN,Lempi Marvin,2022-06-27,67.0,Cohort3,Employed,Hired In Field,WD,FT,MAD,0.0,0.0,0.0,0.0,3.500000,0.700000,16.02,2.45,1.625,0.53950
60,NaN,Mr. Estella Kulas,2022-06-27,67.0,Cohort3,Employed,Hired In Field,WD,FT,MAD,0.0,0.0,0.0,0.0,4.250000,0.850000,96.36,4.13,2.125,0.70550